In [1]:
# Import libraries in our notebook

import pandas as pd
import numpy as np

In [2]:
# Read csv file with heart disease data

heart_data = pd.read_csv('heart_2022_no_nans.csv')

In [3]:
# Review first 5 rows of csv file

heart_data.head()

,State,Sex,GeneralHealth,PhysicalHealthDays,MentalHealthDays,LastCheckupTime,PhysicalActivities,SleepHours,RemovedTeeth,HadHeartAttack,...,HeightInMeters,WeightInKilograms,BMI,AlcoholDrinkers,HIVTesting,FluVaxLast12,PneumoVaxEver,TetanusLast10Tdap,HighRiskLastYear,CovidPos
0,Alabama,Female,Very good,4.0,0.0,Within past year (anytime less than 12 months ...,Yes,9.0,None of them,No,...,1.60,71.67,27.99,No,No,Yes,Yes,"Yes, received Tdap",No,No
1,Alabama,Male,Very good,0.0,0.0,Within past year (anytime less than 12 months ...,Yes,6.0,None of them,No,...,1.78,95.25,30.13,No,No,Yes,Yes,"Yes, received tetanus shot but not sure what type",No,No
2,Alabama,Male,Very good,0.0,0.0,Within past year (anytime less than 12 months ...,No,8.0,"6 or more, but not all",No,...,1.85,108.86,31.66,Yes,No,No,Yes,"No, did not receive any tetanus shot in the pa...",No,Yes
3,Alabama,Female,Fair,5.0,0.0,Within past year (anytime less than 12 months ...,Yes,9.0,None of them,No,...,1.70,90.72,31.32,No,No,Yes,Yes,"No, did not receive any tetanus shot in the pa...",No,Yes
4,Alabama,Female,Good,3.0,15.0,Within past year (anytime less than 12 months ...,Yes,5.0,1 to 5,No,...,1.55,79.38,33.07,No,No,Yes,Yes,"No, did not receive any tetanus shot in the pa...",No,No

In [4]:
# As our analysis will focus on health data related to women, we will drop rows with male data.
# But first, we will inspect the unique values for the column "Sex"

heart_data['Sex'].unique()

array(['Female', 'Male'], dtype=object)

In [5]:
heart_data = heart_data.drop(heart_data[heart_data['Sex'] == 'Male'].index).reset_index(drop=True)
display(heart_data)

,State,Sex,GeneralHealth,PhysicalHealthDays,MentalHealthDays,LastCheckupTime,PhysicalActivities,SleepHours,RemovedTeeth,HadHeartAttack,...,HeightInMeters,WeightInKilograms,BMI,AlcoholDrinkers,HIVTesting,FluVaxLast12,PneumoVaxEver,TetanusLast10Tdap,HighRiskLastYear,CovidPos
0,Alabama,Female,Very good,4.0,0.0,Within past year (anytime less than 12 months ...,Yes,9.0,None of them,No,...,1.60,71.67,27.99,No,No,Yes,Yes,"Yes, received Tdap",No,No
1,Alabama,Female,Fair,5.0,0.0,Within past year (anytime less than 12 months ...,Yes,9.0,None of them,No,...,1.70,90.72,31.32,No,No,Yes,Yes,"No, did not receive any tetanus shot in the pa...",No,Yes
2,Alabama,Female,Good,3.0,15.0,Within past year (anytime less than 12 months ...,Yes,5.0,1 to 5,No,...,1.55,79.38,33.07,No,No,Yes,Yes,"No, did not receive any tetanus shot in the pa...",No,No
3,Alabama,Female,Good,3.0,0.0,Within past year (anytime less than 12 months ...,Yes,8.0,"6 or more, but not all",No,...,1.63,88.00,33.30,No,No,Yes,Yes,"No, did not receive any tetanus shot in the pa...",No,No
4,Alabama,Female,Very good,0.0,0.0,Within past year (anytime less than 12 months ...,Yes,7.0,None of them,No,...,1.68,63.50,22.60,No,No,Yes,Yes,"No, did not receive any tetanus shot in the pa...",No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127806,Virgin Islands,Female,Good,0.0,0.0,Within past year (anytime less than 12 months ...,Yes,8.0,None of them,No,...,1.63,60.33,22.83,No,Yes,No,Yes,"Yes, received tetanus shot but not sure what type",No,No
127807,Virgin Islands,Female,Good,0.0,0.0,Within past year (anytime less than 12 months ...,Yes,12.0,1 to 5,No,...,1.65,52.16,19.14,No,No,No,Yes,"Yes, received Tdap",No,No
127808,Virgin Islands,Female,Very good,0.0,0.0,Within past year (anytime less than 12 months ...,Yes,7.0,1 to 5,No,...,1.65,77.11,28.29,Yes,Yes,No,No,"No, did not receive any tetanus shot in the pa...",No,No
127809,Virgin Islands,Female,Fair,0.0,7.0,Within past year (anytime less than 12 months ...,Yes,7.0,None of them,No,...,1.93,90.72,24.34,No,No,No,No,"No, did not receive any tetanus shot in the pa...",No,Yes
127810,Virgin Islands,Female,Excellent,2.0,2.0,Within past year (anytime less than 12 months ...,Yes,7.0,None of them,No,...,1.70,83.01,28.66,No,Yes,Yes,No,"Yes, received tetanus shot but not sure what type",No,No

In [6]:
# We will also drop some columns that we won't consider in our analysis

heart_data = heart_data.drop(['PhysicalHealthDays', 'MentalHealthDays', 'LastCheckupTime', 'RemovedTeeth', 'DeafOrHardOfHearing', 'BlindOrVisionDifficulty', 'DifficultyConcentrating', 'DifficultyWalking', 'DifficultyDressingBathing', 'DifficultyErrands', 'ChestScan', 'HeightInMeters', 'WeightInKilograms', 'HIVTesting', 'FluVaxLast12', 'PneumoVaxEver', 'TetanusLast10Tdap', 'HighRiskLastYear'], axis=1)
display(heart_data)

,State,Sex,GeneralHealth,PhysicalActivities,SleepHours,HadHeartAttack,HadAngina,HadStroke,HadAsthma,HadSkinCancer,...,HadKidneyDisease,HadArthritis,HadDiabetes,SmokerStatus,ECigaretteUsage,RaceEthnicityCategory,AgeCategory,BMI,AlcoholDrinkers,CovidPos
0,Alabama,Female,Very good,Yes,9.0,No,No,No,No,No,...,No,Yes,No,Former smoker,Never used e-cigarettes in my entire life,"White only, Non-Hispanic",Age 65 to 69,27.99,No,No
1,Alabama,Female,Fair,Yes,9.0,No,No,No,No,Yes,...,No,Yes,No,Never smoked,Never used e-cigarettes in my entire life,"White only, Non-Hispanic",Age 80 or older,31.32,No,Yes
2,Alabama,Female,Good,Yes,5.0,No,No,No,No,No,...,No,Yes,No,Never smoked,Never used e-cigarettes in my entire life,"White only, Non-Hispanic",Age 80 or older,33.07,No,No
3,Alabama,Female,Good,Yes,8.0,No,No,Yes,No,No,...,No,No,Yes,Never smoked,Never used e-cigarettes in my entire life,"Black only, Non-Hispanic",Age 80 or older,33.30,No,No
4,Alabama,Female,Very good,Yes,7.0,No,No,No,Yes,Yes,...,No,Yes,No,Former smoker,Never used e-cigarettes in my entire life,"White only, Non-Hispanic",Age 75 to 79,22.60,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127806,Virgin Islands,Female,Good,Yes,8.0,No,No,No,No,No,...,No,No,No,Never smoked,Never used e-cigarettes in my entire life,"Black only, Non-Hispanic",Age 65 to 69,22.83,No,No
127807,Virgin Islands,Female,Good,Yes,12.0,No,No,No,No,No,...,No,No,No,Never smoked,Never used e-cigarettes in my entire life,"Black only, Non-Hispanic",Age 65 to 69,19.14,No,No
127808,Virgin Islands,Female,Very good,Yes,7.0,No,No,No,No,No,...,No,No,No,Never smoked,Never used e-cigarettes in my entire life,"Black only, Non-Hispanic",Age 45 to 49,28.29,Yes,No
127809,Virgin Islands,Female,Fair,Yes,7.0,No,No,No,No,No,...,No,No,No,Never smoked,Never used e-cigarettes in my entire life,"Black only, Non-Hispanic",Age 25 to 29,24.34,No,Yes
127810,Virgin Islands,Female,Excellent,Yes,7.0,No,No,No,No,No,...,No,No,No,Never smoked,Never used e-cigarettes in my entire life,"Black only, Non-Hispanic",Age 50 to 54,28.66,No,No

In [7]:
# Now that we dropped the rows and columns that we are not gonna use in our analysis, we will rename our columns
# with lower case and underscores

columns = []
for colname in heart_data.columns:
    columns.append(colname.lower())
    
heart_data.columns = columns

heart_data = heart_data.rename(columns={'generalhealth':'general_health',
                                 'physicalactivities':'physical_activities',
                                 'sleephours':'sleep_hours',
                                 'hadheartattack':'had_heart_attack',
                                 'hadangina':'had_angina',
                                       'hadstroke':'had_stroke',
                                       'hadasthma':'had_asthma',
                                       'hadskincancer':'had_skin_cancer',
                                       'hadcopd':'had_copd',
                                       'haddepressivedisorder':'had_depressive_disorder',
                                       'hadkidneydisease':'had_kidney_disease',
                                       'hadarthritis':'had_arthritis',
                                       'haddiabetes':'had_diabetes',
                                       'smokerstatus':'smoker_status',
                                       'ecigaretteusage':'e_cigarette_usage',
                                       'raceethnicitycategory':'race_ethnicity_category',
                                       'agecategory':'age_category',
                                       'alcoholdrinkers':'alcohol_drinker',
                                       'covidpos':'covid_tested_positive'})

display(heart_data.head())

,state,sex,general_health,physical_activities,sleep_hours,had_heart_attack,had_angina,had_stroke,had_asthma,had_skin_cancer,...,had_kidney_disease,had_arthritis,had_diabetes,smoker_status,e_cigarette_usage,race_ethnicity_category,age_category,bmi,alcohol_drinker,covid_tested_positive
0,Alabama,Female,Very good,Yes,9.0,No,No,No,No,No,...,No,Yes,No,Former smoker,Never used e-cigarettes in my entire life,"White only, Non-Hispanic",Age 65 to 69,27.99,No,No
1,Alabama,Female,Fair,Yes,9.0,No,No,No,No,Yes,...,No,Yes,No,Never smoked,Never used e-cigarettes in my entire life,"White only, Non-Hispanic",Age 80 or older,31.32,No,Yes
2,Alabama,Female,Good,Yes,5.0,No,No,No,No,No,...,No,Yes,No,Never smoked,Never used e-cigarettes in my entire life,"White only, Non-Hispanic",Age 80 or older,33.07,No,No
3,Alabama,Female,Good,Yes,8.0,No,No,Yes,No,No,...,No,No,Yes,Never smoked,Never used e-cigarettes in my entire life,"Black only, Non-Hispanic",Age 80 or older,33.30,No,No
4,Alabama,Female,Very good,Yes,7.0,No,No,No,Yes,Yes,...,No,Yes,No,Former smoker,Never used e-cigarettes in my entire life,"White only, Non-Hispanic",Age 75 to 79,22.60,No,No

In [8]:
# Now that we dropped data and renamed columns, we will explore the remaining dataframe in order to double check 
# if we have null values and understand if we will need to standarize/rename some values

heart_data.dtypes

state                       object
sex                         object
general_health              object
physical_activities         object
sleep_hours                float64
had_heart_attack            object
had_angina                  object
had_stroke                  object
had_asthma                  object
had_skin_cancer             object
had_copd                    object
had_depressive_disorder     object
had_kidney_disease          object
had_arthritis               object
had_diabetes                object
smoker_status               object
e_cigarette_usage           object
race_ethnicity_category     object
age_category                object
bmi                        float64
alcohol_drinker             object
covid_tested_positive       object
dtype: object

In [9]:
# Review if we have null values

display(heart_data.isna().sum())

state                      0
sex                        0
general_health             0
physical_activities        0
sleep_hours                0
had_heart_attack           0
had_angina                 0
had_stroke                 0
had_asthma                 0
had_skin_cancer            0
had_copd                   0
had_depressive_disorder    0
had_kidney_disease         0
had_arthritis              0
had_diabetes               0
smoker_status              0
e_cigarette_usage          0
race_ethnicity_category    0
age_category               0
bmi                        0
alcohol_drinker            0
covid_tested_positive      0
dtype: int64

In [10]:
heart_data['sleep_hours'].unique()

array([ 9.,  5.,  8.,  7.,  6., 10.,  4., 12.,  3., 18., 11.,  2.,  1.,
       16., 14., 15., 23., 13., 24., 20., 19., 17., 22.])

In [11]:
# As we found some extreme values in the "sleep_hours" column, let's review some statistics for the numerical columns

heart_data.describe()

         sleep_hours            bmi
count  127811.000000  127811.000000
mean        7.043212      28.619383
std         1.458613       7.054929
min         1.000000      12.020000
25%         6.000000      23.570000
50%         7.000000      27.440000
75%         8.000000      32.220000
max        24.000000      97.650000

In [12]:
# Let's review the frequency of unique values in the column "sleep_hours" in order to understand what to do with
# those rows

(heart_data.groupby('sleep_hours').size()/heart_data['sleep_hours'].count())*100

# After reviewing the frequency of unique values for this column, we can conclude that the percentage of extreme
# values is very small and they won't affect the mean. Therefore, we will leave them in our dataframe.

sleep_hours
1.0      0.217509
2.0      0.258194
3.0      0.625142
4.0      2.699298
5.0      6.882819
6.0     21.545094
7.0     30.254829
8.0     28.954472
9.0      5.102847
10.0     2.336262
11.0     0.142398
12.0     0.674433
13.0     0.030514
14.0     0.064940
15.0     0.069634
16.0     0.069634
17.0     0.003130
18.0     0.032861
19.0     0.002347
20.0     0.022690
22.0     0.002347
23.0     0.003130
24.0     0.005477
dtype: float64

In [13]:
# As we don't have proper decimal values in the "sleep_hours" column, we will transform its
# type from float64 to int64

heart_data = heart_data.astype({'sleep_hours':'int64'})

In [14]:
# Review if the data type was modified

heart_data.dtypes

state                       object
sex                         object
general_health              object
physical_activities         object
sleep_hours                  int64
had_heart_attack            object
had_angina                  object
had_stroke                  object
had_asthma                  object
had_skin_cancer             object
had_copd                    object
had_depressive_disorder     object
had_kidney_disease          object
had_arthritis               object
had_diabetes                object
smoker_status               object
e_cigarette_usage           object
race_ethnicity_category     object
age_category                object
bmi                        float64
alcohol_drinker             object
covid_tested_positive       object
dtype: object

In [15]:
# Review frequency of unique values for "bmi" variable

(heart_data.groupby('bmi').size()/heart_data['bmi'].count())*100

# As this is a numerical continous variable, we have 2835 unique values which makes it difficult for us to 
# understand how the frequency is distributed. Therefore, in order to understand if we will need to drop rows or
# not, we will focus on the bmi's mean which is equal to 28.62 (previously displayed with described()).
# When talking about bmi ranges, values between 25.0 and 29.9 fall within the overweight range. As this is a dataset
# that contains data from the United States and the obesity rate in that country is around 40%, we consider
# that this value is accurate of the data presented and no rows will be dropped.

bmi
12.02    0.000782
12.05    0.000782
12.11    0.001565
12.16    0.000782
12.27    0.000782
           ...
92.73    0.000782
94.66    0.000782
96.20    0.000782
97.43    0.000782
97.65    0.001565
Length: 2835, dtype: float64

In [16]:
# Review unique values for all categorical variables
# FYI: in case of renaming values, we will do this with a function after analyzing all categorical columns!

heart_data.nunique()

# From this, the first thing that we see is that we will need to rename some state values as there are 50
# states in the US instead of 54.

state                        54
sex                           1
general_health                5
physical_activities           2
sleep_hours                  23
had_heart_attack              2
had_angina                    2
had_stroke                    2
had_asthma                    2
had_skin_cancer               2
had_copd                      2
had_depressive_disorder       2
had_kidney_disease            2
had_arthritis                 2
had_diabetes                  4
smoker_status                 4
e_cigarette_usage             4
race_ethnicity_category       5
age_category                 13
bmi                        2835
alcohol_drinker               2
covid_tested_positive         3
dtype: int64

In [17]:
# Let's take a look at categorical variables and their unique values

# COLUMN: state

heart_data['state'].unique()

# From this, we can see that Guam, Puerto Rico and Virgin Islands are not states from the US.
# District of Columbia (known as Washington DC and different from Washington) is not a state itself but we will
# leave it as it is in our dataset due to its weight as Federal State in the country

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'District of Columbia',
       'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana',
       'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
       'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi',
       'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
       'New Jersey', 'New Mexico', 'New York', 'North Carolina',
       'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania',
       'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee',
       'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming', 'Guam', 'Puerto Rico',
       'Virgin Islands'], dtype=object)

In [18]:
# Let's review what's the percentage of ocurrences that we have for the values Puerto Rico, Guam and Virgin Islands

heart_data['state'].value_counts()

# We consider that dropping values related to these territories is not the best approach because Puerto Rico has as 
# many ocurrences as states such as Missouri or South Dakota, for example. Therefore, we consider that the best thing
# would be to rename these values to "Territory outside US"

state
Washington              7695
Maryland                4841
Ohio                    4698
New York                4658
Minnesota               4523
Florida                 3881
Texas                   3755
Maine                   3223
Kansas                  3168
Virginia                3140
Wisconsin               3130
Hawaii                  2965
South Carolina          2961
Indiana                 2925
Arizona                 2845
Michigan                2832
Massachusetts           2785
Iowa                    2781
Georgia                 2726
Nebraska                2672
Utah                    2570
Colorado                2515
Connecticut             2512
Vermont                 2472
California              2397
Puerto Rico             2229
Missouri                2195
South Dakota            2163
New Hampshire           2027
Montana                 2023
New Jersey              1947
Idaho                   1747
West Virginia           1685
Louisiana               1674
Rhode Island            1670
New Mexico              1666
Oklahoma                1622
Arkansas                1583
Oregon                  1539
Alaska                  1524
Pennsylvania            1388
Tennessee               1378
North Carolina          1361
Mississippi             1331
Illinois                1317
Wyoming                 1261
Kentucky                1250
North Dakota            1218
Delaware                1182
Alabama                 1106
District of Columbia     964
Nevada                   915
Guam                     747
Virgin Islands           429
Name: count, dtype: int64

In [19]:
# COLUMN: had_diabetes

#heart_data['had_diabetes'].unique()
heart_data['had_diabetes'].value_counts()/len(heart_data)

# As we'd like this column to remain with a binary logic ("Yes", "No"), we will rename some values.
# This column is considering diabetes for "yes" or "no" for type 2 diabetes. As pre-diabetes or gestational 
# diabetes are not considered as type 2 diabetes, we will rename these values to "No". Having said this, we 
# understand that people with these conditions can develop diabetes in the future but this is not what this 
# column is trying to show. Therefore, we will proceed with the previously explained approach.

had_diabetes
No                                         0.833105
Yes                                        0.128432
No, pre-diabetes or borderline diabetes    0.023018
Yes, but only during pregnancy (female)    0.015445
Name: count, dtype: float64

In [20]:
# COLUMN: smoker_status

heart_data['smoker_status'].unique()

# Again, we understand that the amount of cigarettes smoked in a day will have a stronger impact in a heart disease
# but we don't have data on how many cigarettes people smoke in a day neither of what "some days" mean.
# Therefore, we will group and rename the current smokers into "Current smoker"

array(['Former smoker', 'Never smoked',
       'Current smoker - now smokes every day',
       'Current smoker - now smokes some days'], dtype=object)

In [21]:
# COLUMN: e_cigarette_usage

heart_data['e_cigarette_usage'].unique()

# We will follow the a similar logic as the one used previously and we will rename the categories as follows:
# 1. "Never used e-cigarettes in my entire life" to "Never used"
# 2. "Not at all (right now)" as "Former user"
# 3. "Use them every day" and "Use them some days" to "Current user"

array(['Never used e-cigarettes in my entire life',
       'Not at all (right now)', 'Use them some days',
       'Use them every day'], dtype=object)

In [22]:
# COLUMN: age_category

heart_data['age_category'].unique()

# On this case we will just remove the "Age" from the values in order to leave just the age range on them.
# This will also be done with a rename function

array(['Age 65 to 69', 'Age 80 or older', 'Age 75 to 79', 'Age 60 to 64',
       'Age 70 to 74', 'Age 55 to 59', 'Age 50 to 54', 'Age 40 to 44',
       'Age 35 to 39', 'Age 45 to 49', 'Age 25 to 29', 'Age 18 to 24',
       'Age 30 to 34'], dtype=object)

In [23]:
# COLUMN: covid_tested_positive

heart_data['covid_tested_positive'].unique()

# On this case, we will group and rename the "Tested positive using..." values to "Yes"

array(['No', 'Yes',
       'Tested positive using home test without a health professional'],
      dtype=object)

In [24]:
# COLUMN: race_ethnicity_category

#heart_data['race_ethnicity_category'].unique()
heart_data['race_ethnicity_category'].value_counts()

# As we are analyzing health data and many studies suggest that individuals within specific race/ethnicity groups
# are prone to suffer from some diseases, we will leave the values from this column as they were presented originally

race_ethnicity_category
White only, Non-Hispanic         95969
Hispanic                         11772
Black only, Non-Hispanic         11283
Other race only, Non-Hispanic     5968
Multiracial, Non-Hispanic         2819
Name: count, dtype: int64

In [25]:
# Let's create a function to do all the renaming in one step

def rename_values(df: pd.DataFrame) -> pd.DataFrame:
    '''
    This function picks a Pandas DataFrame and renames values for dataset consistency
    
    Inputs:
    df: Pandas DataFrame
    
    Outputs:
    Pandas DataFrame with corrected values
    '''
    
    df['state'].replace('Guam', 'Territory outside US', inplace=True)
    df['state'].replace('Puerto Rico', 'Territory outside US', inplace=True)
    df['state'].replace('Virgin Islands', 'Territory outside US', inplace=True)
    df['had_diabetes'].replace('No, pre-diabetes or borderline diabetes', 'No', inplace=True)
    df['had_diabetes'].replace('Yes, but only during pregnancy (female)', 'No', inplace=True)
    df['smoker_status'].replace('Current smoker - now smokes every day', 'Current smoker', inplace=True)
    df['smoker_status'].replace('Current smoker - now smokes some days', 'Current smoker', inplace=True)
    df['e_cigarette_usage'].replace('Never used e-cigarettes in my entire life', 'Never used', inplace=True)
    df['e_cigarette_usage'].replace('Not at all (right now)', 'Former user', inplace=True)
    df['e_cigarette_usage'].replace('Use them some days', 'Current user', inplace=True)
    df['e_cigarette_usage'].replace('Use them every day', 'Current user', inplace=True)
    df['covid_tested_positive'].replace('Tested positive using home test without a health professional', 'Yes', inplace=True)
    
    heart_data['age_category'] = heart_data['age_category'].apply(lambda x: x.replace('Age ', ''))
    
    return df

In [26]:
# Let's call the rename_values() function

rename_values(heart_data)

,state,sex,general_health,physical_activities,sleep_hours,had_heart_attack,had_angina,had_stroke,had_asthma,had_skin_cancer,...,had_kidney_disease,had_arthritis,had_diabetes,smoker_status,e_cigarette_usage,race_ethnicity_category,age_category,bmi,alcohol_drinker,covid_tested_positive
0,Alabama,Female,Very good,Yes,9,No,No,No,No,No,...,No,Yes,No,Former smoker,Never used,"White only, Non-Hispanic",65 to 69,27.99,No,No
1,Alabama,Female,Fair,Yes,9,No,No,No,No,Yes,...,No,Yes,No,Never smoked,Never used,"White only, Non-Hispanic",80 or older,31.32,No,Yes
2,Alabama,Female,Good,Yes,5,No,No,No,No,No,...,No,Yes,No,Never smoked,Never used,"White only, Non-Hispanic",80 or older,33.07,No,No
3,Alabama,Female,Good,Yes,8,No,No,Yes,No,No,...,No,No,Yes,Never smoked,Never used,"Black only, Non-Hispanic",80 or older,33.30,No,No
4,Alabama,Female,Very good,Yes,7,No,No,No,Yes,Yes,...,No,Yes,No,Former smoker,Never used,"White only, Non-Hispanic",75 to 79,22.60,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127806,Territory outside US,Female,Good,Yes,8,No,No,No,No,No,...,No,No,No,Never smoked,Never used,"Black only, Non-Hispanic",65 to 69,22.83,No,No
127807,Territory outside US,Female,Good,Yes,12,No,No,No,No,No,...,No,No,No,Never smoked,Never used,"Black only, Non-Hispanic",65 to 69,19.14,No,No
127808,Territory outside US,Female,Very good,Yes,7,No,No,No,No,No,...,No,No,No,Never smoked,Never used,"Black only, Non-Hispanic",45 to 49,28.29,Yes,No
127809,Territory outside US,Female,Fair,Yes,7,No,No,No,No,No,...,No,No,No,Never smoked,Never used,"Black only, Non-Hispanic",25 to 29,24.34,No,Yes
127810,Territory outside US,Female,Excellent,Yes,7,No,No,No,No,No,...,No,No,No,Never smoked,Never used,"Black only, Non-Hispanic",50 to 54,28.66,No,No

In [27]:
# Now that we've used our function, let's double check if all values where updated as desired

#heart_data['state'].unique()
#heart_data['had_diabetes'].unique()
#heart_data['smoker_status'].unique()
#heart_data['e_cigarette_usage'].unique()
#heart_data['covid_tested_positive'].unique()
heart_data['age_category'].unique()

# From the previous validation, we can see that all values were replaced accordingly

array(['65 to 69', '80 or older', '75 to 79', '60 to 64', '70 to 74',
       '55 to 59', '50 to 54', '40 to 44', '35 to 39', '45 to 49',
       '25 to 29', '18 to 24', '30 to 34'], dtype=object)

In [28]:
# As a final step in our data cleaning process, we will group and rename values from columns age_category and sleep_hours
# in order to reduce the cardinality. For this, we created the function grouping_age()

def grouping_age(column: str) -> str:
    '''
    This function groups the categories in a column.
    Input: column -> str
    Output: Grouped categories in a column to reduce cardinality.
    '''
    age = {"18 to 29": ["18 to 24", "25 to 29"],
              "30 to 39": ["30 to 34", "35 to 39"],
              "40 to 49": ["40 to 44", "45 to 49"],
              "50 to 59": ["50 to 54", "55 to 59"],
              "60 to 69": ["60 to 64", "65 to 69"],
              "70 to 79": ["70 to 74", "75 to 79"],
                "80 or older": ["80 or older"]}
    new_age = [ key for key, value in age.items() if column in value ]
    
    return new_age[0]

In [29]:
# We apply the function to our dataframe and review the value counts

heart_data['age_category'] = heart_data['age_category'].apply(grouping_age)
heart_data['age_category'].value_counts(dropna=False)

age_category
60 to 69       29134
70 to 79       23478
50 to 59       21942
40 to 49       17604
30 to 39       14537
18 to 29       10760
80 or older    10356
Name: count, dtype: int64

In [31]:
# We do the same procedure with the sleep_hours column

heart_data['sleep_hours'].value_counts()

sleep_hours
7     38669
8     37007
6     27537
5      8797
9      6522
4      3450
10     2986
12      862
3       799
2       330
1       278
11      182
16       89
15       89
14       83
18       42
13       39
20       29
24        7
23        4
17        4
19        3
22        3
Name: count, dtype: int64

In [34]:
# We define a grouping_sleeping_hours() function as well. We group together values considering their 
# value_counts and what we consider a normal/abnormal sleep routine for a human being. 
# For instance, we grouped together 6 to 9 hours because we consider this as a normal sleep range. 
# On the other hand, we consider sleeping between 10 and 15 hours a day is a lot. Therefore, we put these values
# in the same category.

def grouping_sleeping_hours(column: str) -> str:
    '''
    This function groups the categories in a column.
    Input: column -> str
    Output: Grouped categories in a column to reduce cardinality.
    '''
    hours = { "1 to 5": [1, 2, 3, 4, 5],
              "6 to 9": [6, 7, 8, 9],
              "10 to 15": [10, 11, 12, 13, 14, 15],
              "16 to 24": [16, 17, 18, 19, 20, 21, 22, 23, 24]}
    new_hours = [ key for key, value in hours.items() if column in value ]
    return new_hours[0]

In [35]:
# We apply the function to our dataframe and review the value counts

heart_data['sleep_hours'] = heart_data['sleep_hours'].apply(grouping_sleeping_hours)
heart_data['sleep_hours'].value_counts(dropna=False)

sleep_hours
6 to 9      109735
1 to 5       13654
10 to 15      4241
16 to 24       181
Name: count, dtype: int64

In [37]:
# As we changed our sleep_hours values, we can see that this column is not an int64
# anymore but an object now

heart_data.dtypes

state                       object
sex                         object
general_health              object
physical_activities         object
sleep_hours                 object
had_heart_attack            object
had_angina                  object
had_stroke                  object
had_asthma                  object
had_skin_cancer             object
had_copd                    object
had_depressive_disorder     object
had_kidney_disease          object
had_arthritis               object
had_diabetes                object
smoker_status               object
e_cigarette_usage           object
race_ethnicity_category     object
age_category                object
bmi                        float64
alcohol_drinker             object
covid_tested_positive       object
dtype: object

In [40]:
# Now that we finished the data cleaning process, we will save the dataframe into a csv file so that we can 
# use it to create our machine learning model

heart_data.to_csv('heart_data.csv',index = False, sep=";")

In [41]:
# End of data cleaning process